@media screen and (min-width: 320px) {
  .portfolio {
    margin: 70px 14px 70px;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
  }
  .portfolio__title {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #a0a0a0;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .portfolio__list {
    margin: 40px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .portfolio__item {
    border-bottom: 1px solid #dadada;
    padding: 0 0 19px 0;
    list-style-type: none;
  }

  .portfolio__item:last-child {
    padding: 0;
    border-bottom: none;
  }
  .portfolio__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }
  .portfolio__link-title {
    margin: 0;
    padding: 0;
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
  .portfolio__link-arrow {
    display: block;
    margin: 0;
    padding: 0 0 0 0;
    background: none;
    border: none;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin: 88px 50px 91px;
  }
  .portfolio__title {
    font-size: 18px;
  }

  .portfolio__list {
    margin: 60px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 27px;
  }
  .portfolio__item {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 20px 0;
  }

  .portfolio__item:last-child {
    padding: 0;
    border-bottom: none;
  }
  .portfolio__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }
  .portfolio__link-title {
    line-height: 33px;
    font-size: 28px;
    letter-spacing: -1.12px;
  }
  .portfolio__link-arrow {
    line-height: 41px;
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio {
    margin: 100px 70px 0;
    min-height: 440px;
  }
  .portfolio__title {
    font-size: 18px;
  }

  .portfolio__list {
    margin: 60px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .portfolio__item {
    border-bottom: 1px solid #424242;
    padding: 0 0 21px 0;
  }

  .portfolio__item:last-child {
    padding: 0;
    border-bottom: none;
  }
  .portfolio__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }
  .portfolio__link-title {
    line-height: 29px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }
  .portfolio__link-arrow {
    line-height: 36px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }
}
.portfolio__link:hover {
  opacity: 0.7;
  cursor: pointer;
}
