@media screen and (min-width: 320px) {
  .about-project {
    margin: 0px 18px;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    max-width: 1280px;
  }
  .about-project__title {
    margin: 64px 0 0 0;
    padding: 0 0 19px 0;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.72px;
    border-bottom: 1px solid #dadada;
  }

  .about-project__subtitle {
    margin: 59px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  .about-project__description {
    margin: 16px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .about-project__description:nth-child(2n) {
    margin-bottom: 59px;
  }
  .about-project__stages {
    display: flex;
    height: 35px;
    align-items: stretch;
  }
  .about-project__one-week {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    background-color: #3ddc84;
    color: #000;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .about-project__four-weeks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-grow: 2;
    background-color: #303030;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .about-project__back {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    flex-grow: 1;
    color: #a0a0a0;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .about-project__front {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-grow: 2;
    color: #a0a0a0;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (min-width: 768px) {
  .about-project {
    margin-left: 50px;
    margin-right: 50px;
    min-height: 495px;
  }
  .about-project__title {
    margin-top: 90px;
    padding-bottom: 23px;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.88px;
  }
  .about-project__container {
    display: flex;
    column-gap: 37px;
  }
  .about-project__subtitle {
    margin-top: 70px;
    font-size: 20px;
    letter-spacing: -0.8px;
  }
  .about-project__description {
    margin-top: 22px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .about-project__description:nth-child(2n) {
    margin-bottom: 93px;
  }
  .about-project__stages {
    height: 36px;
  }
  .about-project__stages:nth-child(2n) {
    padding-top: 5px;
  }
  .about-project__one-week {
    max-width: 140px;
    font-size: 14px;
  }
  .about-project__four-weeks {
    font-size: 14px;
  }
  .about-project__back {
    max-width: 140px;
    font-size: 14px;
  }
  .about-project__front {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .about-project {
    margin-left: 70px;
    margin-right: 70px;
  }
  .about-project__title {
    margin-top: 110px;
  }
  .about-project__container {
    display: flex;
    column-gap: 55px;
  }

  .about-project__description {
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;
  }

  .about-project__description:nth-child(2n) {
    margin-bottom: 110px;
  }

  .about-project__stages:nth-child(2n) {
    padding-top: 5px;
  }
  .about-project__one-week {
    max-width: 228px;
  }

  .about-project__back {
    max-width: 228px;
  }
}
