@media screen and (min-width: 320px) {
  .about-me {
    margin: 133px 14px 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
  }

  .about-me__title {
    margin: 0 0 0 0;
    padding: 0 0 20px 0;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.72px;
    border-bottom: 1px solid #dadada;
  }
  .about-me__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .about-me__description-container {
    flex-grow: 2;
  }
  .about-me__name {
    margin: 40px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -1.2px;
  }

  .about-me__subtitle {
    margin: 18px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  .about-me__description {
    margin: 20px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .about-me__link {
    display: block;
    margin: 40px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }

  .about-me__img {
    width: 290px;
    height: 352px;
    border-radius: 10px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .about-me {
    margin: 90px 50px 0;
    max-width: 1280px;
  }

  .about-me__title {
    padding-bottom: 23px;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.88px;
  }
  .about-me__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .about-me__description-container {
    max-width: 54.5%;
  }
  .about-me__name {
    margin-top: 0;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .about-me__subtitle {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__description {
    display: block;
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__link {
    margin-top: 87px;
  }

  .about-me__img {
    order: 0;
    width: 255px;
    height: 307px;
    margin-top: 66px;
  }
}
@media screen and (min-width: 1280px) {
  .about-me {
    margin: 113px 70px 0;
  }

  .about-me__container {
    margin-top: 0;
  }
  .about-me__description-container {
    max-width: 52.63%;
  }
  .about-me__name {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
  }

  .about-me__subtitle {
    margin-top: 16px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
  }

  .about-me__description {
    margin: 26px 0 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
  }
  .about-me__link {
    margin-top: 99px;
  }

  .about-me__img {
    width: 270px;
    height: 327px;
  }
}

.about-me__link:hover {
  opacity: 0.7;
  cursor: pointer;
}
